#mycanvas {
    height: 400px;
    width: 400px;
    border: 10px solid cornflowerblue;
}

body {
    height: 100%;
    margin: 0;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}